<nav class="navbar" style="background-color: #343a40;">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" style="color: #dfd3d3;" href="#">Dashboard</a>
      <div class="d-flex">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!--nanti tambah icon sign out-->
            <button class="btn btn-dark" (click)="logout()"><i class="bi bi-box-arrow-right"></i>Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>